<footer>
  <a href="https://nixonion.github.io">
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  </a>
<br>
  <a href="https://nabeelmahdi.medium.com/">
    <span>
        <b>Blog</b></a>
  <a>|</a>
  <a href="https://github.com/nixonion">
    <span>
        <b>Github</b></a>
  <a>|</a>
  <a href="https://www.linkedin.com/in/nabeelsayed/">
    <span>
        <b>Linkedin</b>   
  </a>
</footer>